* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("https://cdn.onebauer.media/one/empire-images/features/5718b250b602bb802e20f3e6/wormhole.jpg?quality=50&width=1000&ratio=1-1&resizeStyle=aspectfit&format=jpg");
  font-family: sans-serif;
}

.mycontainer {
  background: linear-gradient(
    50deg,
    #0e111a 0%,
    #0e111a 41%,
    #101629 76%,
    #10182a 100%
  );

  height: 100%;
  border: 1px solid black;
}
.home {
  position: relative;
  display: flex;
}
